$dark: #121920;
$grey: #768298;
$light-grey: #bbc4d6;
$bright-blue: #34aadd;
$orange: #f95a59;

$style-change-duration: 0.3s;

$desktop-width: 1440px;
$desktop-min-width: 1024px; /* 1024-1440 рх */
$tablet-width: 768px; /* 768-1023 рх */

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
